@model OnlineNote.Models.Note

@await Html.PartialAsync("~/Views/Shared/_Nav.cshtml")

<div class="container">
    <br />
    <input type="text" placeholder="Title" class="form-control" id="title" value="@Model.Title" />
    <br />
    <textarea type="text" placeholder="Content" class="form-control" id="content" style="height: 65vh;">@Model.Content</textarea>
</div>


@section Scripts {
    <script>

        function debounce(func, timeout = 300){
          let timer;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
          };
        }

        const saveNote = () => {
            try {
                const id = @Model.Id
                        const accountId = @ViewBag.AccountId
                        const title = $("#title").val()
                const content = $("#content").val()

                const data = { Id: id, Title: title, Content: content, AccountId: accountId }

                await fetch('@Url.Action("PostNote", "Home")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
            }
            catch {
                alert("ERROR")
            }
        }

        $("#title, #content").on("input", function (event) {
            debounce(() => saveNote());
        });

    </script>
}